<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>E-COMMERCE</title>
</head>
<body>

    <nav class="nav">
        <div class="nav-logo">
            <p>BANTRAX</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="#" class="link active">Home</a></li>
                <li><a href="#" class="link">Blog</a></li>
                <li><a href="#" class="link">Services</a></li>
                <li><a href="#" class="link">About</a></li>
            </ul>
        </div>
        <div class="nav-button">
            <button class="btn white-btn" id="navSignInBtn">Iniciar Sesión</button>
            <button class="btn" id="navSignUpBtn">Registrarse</button>
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </nav>

    <div class="container" id="container">
        <!-- CREAR UN NUEVO USUARIO -->
        <div class="form-container sign-up">
            <form id="fromlogin" action="/register" method="post">
                <h1>Crear Una Cuenta</h1>
                <div class="social-icons">
                    <a href="https://www.instagram.com/francofabian947/" class="icon"><i class="fa-brands fa-instagram"> </i></a>
                    <a href="https://www.facebook.com/profile.php?id=100013681260351" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://github.com/Bantrax947" class="icon"><i class="fa-brands fa-github"></i></a>
                </div>
                <span>o utilice su correo electrónico para registrarse</span>
                <input name="firstname" type="text" placeholder="Nombres" required>
                <input name="lastname" type="text" placeholder="Apellidos"required >
                <input name="email" type="email" placeholder="Email" required>
                <input name="pass" type="password" placeholder="Password" required  >
                
                <button type="submit">Crear</button>
            </form>
        </div>
        <!-- Iniciar Sesión -->
        <div class="form-container sign-in">
            <form action="/login" method="post">
                <h1>Acceso</h1>
                <div class="social-icons">
                    <a href="https://www.instagram.com/francofabian947/" class="icon"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100013681260351" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://github.com/Bantrax947" class="icon"><i class="fa-brands fa-github"></i></a>
                </div>
                <span></span>
                <input name="email" type="email" placeholder="Email" >
                <input name="pass" type="password" placeholder="Password" >
                <a href="#">Olvidaste tu contraseña?</a>
                <button type="submit">Iniciar Sesión</button>
            </form>
        </div>
        <!-- ANIMACION DE TRANSICIÓN -->
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bienvenido!</h1>
                    <p>Ingrese sus datos personales para utilizar toda las funcionalidades</p>
                    <button id="login">Iniciar Sesión</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hola Amigos!</h1>
                    <p>Registrarse con sus datos para utilizar todas las funcionalidades del sitio</p>
                    <button id="register">Crear Cuenta</button>
                </div>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (alert) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                if ('<%= ruta %>' !== '') {
                    window.location = '/<%= ruta %>';
                } else {
                    window.location = '/';
                }
            });
        </script>
    <% } %>
   
</body>
</html>
